apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-initial-data
binaryData:
  dump.rdb: |
    {{ .Files.Get "redis-data/dump.rdb" | b64enc}}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.redis.persistence.size }}
  {{- if .Values.redis.persistence.storageClass }}
  storageClassName: {{ .Values.redis.persistence.storageClass }}
  {{- end }}
