apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      initContainers:
        - name: init-rdb
          image: busybox
          command:
            - sh
            - -c
            - |
              ls -a /data
              cat /data/dump.rdb
              ls -a /rdb-source
              ls -a /
              if [ ! -f /data/dump.rdb ]; then
                cp /rdb-source/dump.rdb /data/dump.rdb
              fi
          volumeMounts:
            - mountPath: /rdb-source
              name: rdb-source
            - mountPath: /data
              name: redis-storage
      containers:
        - name: redis
          image: {{ .Values.redis.image }}
          ports:
            - containerPort: {{ .Values.redis.port }}
          command:
            - redis-server
            - --requirepass
            - $(REDIS_PASSWORD)
          volumeMounts:
            - mountPath: /data
              name: redis-storage
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secrets-sql
                  key: redis-password
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - redis-cli -a $REDIS_PASSWORD ping | grep PONG
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - redis-cli -a $REDIS_PASSWORD ping | grep PONG
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
          {{- toYaml .Values.redis.resources | nindent 12 }}
      volumes:
        - name: rdb-source
          configMap:
            name: redis-initial-data
        - name: redis-storage
          persistentVolumeClaim:
            claimName: redis-pvc
