---
apiVersion: batch/v1
kind: Job
metadata:
  name: db-init-schema-job
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-weight": "5"
    "hook.sh/hook-delete-policy": before-hook-creation, hook-succeeded
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: init-schema
          image: {{ .Values.postgresql.image }}
          env:
            - name: PGHOST
              value: db
            - name: PGDATABASE
              value: {{ .Values.env.postgresDb }}
            - name: PGUSER
              value: {{ .Values.env.postgresUser }}
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: secrets-sql
                  key: user-password
          command:
            - sh
            - -c
            - |
              echo "Esperando ..."
              until pg_isready -h $PGHOST; do sleep 2; done
              sed "s/POSTGRESQL_OWNER/$PGUSER/g" /scripts/init-schema.sql > /tmp/init-schema.sql
              psql -f /tmp/init-schema.sql
          volumeMounts:
            - mountPath: /scripts
              name: init-scripts
              readOnly: true
      volumes:
        - name: init-scripts
          configMap:
            name: db-init-schema
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: db-init-schema
  labels:
    app: db
data:
  init-schema.sql: |
    {{ .Files.Get "sql-schema/schema.sql" | nindent 8 }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.postgresql.persistence.size }}
  {{- if .Values.postgresql.persistence.storageClass }}
  storageClassName: {{ .Values.postgresql.persistence.storageClass }}
  {{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  labels:
    app: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: postgres
          image: {{ .Values.postgresql.image }}
          ports:
            - containerPort: {{ .Values.postgresql.port }}
          env:
            - name: POSTGRES_DB
              value: {{ .Values.env.postgresDb }}
            - name: POSTGRES_USER
              value: {{ .Values.env.postgresUser }}
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secrets-sql
                  key: user-password
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U {{ .Values.env.postgresUser }} -d {{ .Values.env.postgresDb }}
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U {{ .Values.env.postgresUser }} -d {{ .Values.env.postgresDb }}
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
          {{- toYaml .Values.postgresql.resources | nindent 12 }}
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  selector:
    app: db
  ports:
    - protocol: TCP
      port: {{ .Values.postgresql.port }}
      targetPort: {{ .Values.postgresql.port }}
  type: ClusterIP
---