{{- $postgresPassword := "" }}
{{- $userPassword := "" }}
{{- $redisPassword := "" }}

{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace "secrets-sql" }}

{{- if $existingSecret }}
  {{- $postgresPassword = index $existingSecret.data "postgres-password" | b64dec }}
{{- else }}
  {{- $postgresPassword = randAlphaNum 32 }}
{{- end }}
{{- if $existingSecret }}
  {{- $userPassword = index $existingSecret.data "user-password" | b64dec }}
{{- else }}
  {{- $userPassword = randAlphaNum 32 }}
{{- end }}

{{- if $existingSecret }}
  {{- $redisPassword = index $existingSecret.data "redis-password" | b64dec }}
{{- else }}
  {{- $redisPassword = randAlphaNum 32 }}
{{- end }}

---
apiVersion: v1
kind: Secret
metadata:
  name: secrets-sql
type: Opaque
stringData:
  postgres-password: {{ $postgresPassword | quote }}
  user-password: {{ $userPassword | quote }}
  redis-password: {{ $redisPassword | quote }}
