{{- $postgresPassword := "" }}
{{- $redisPassword := "" }}

{{- if .Values.secrets.postgresPassword }}
  {{- $postgresPassword = .Values.secrets.postgresPassword }}
{{- else }}
  {{- $existingSecret := lookup "v1" "Secret" .Release.Namespace "app-secrets" }}
  {{- if $existingSecret }}
    {{- $postgresPassword = index $existingSecret.data "postgres-password" | b64dec }}
  {{- else }}
    {{- $postgresPassword = randAlphaNum 32 }}
  {{- end }}
{{- end }}

{{- if .Values.secrets.redisPassword }}
  {{- $redisPassword = .Values.secrets.redisPassword }}
{{- else }}
  {{- $existingSecret := lookup "v1" "Secret" .Release.Namespace "app-secrets" }}
  {{- if $existingSecret }}
    {{- $redisPassword = index $existingSecret.data "redis-password" | b64dec }}
  {{- else }}
    {{- $redisPassword = randAlphaNum 32 }}
  {{- end }}
{{- end }}

---
apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  annotations:
    "helm.sh/resource-policy": keep
type: Opaque
stringData:
  postgres-password: {{ $postgresPassword | quote }}
  redis-password: {{ $redisPassword | quote }}
